# Puerto del servidor
PORT=5000

# MongoDB Connection String
MONGODB_URI=mongodb+srv://manolosanchez2005:<Manolo2005san.D>@manuel.ftfhp.mongodb.net/mascotas-db?retryWrites=true&w=majority&appName=manuel

# Entorno
NODE_ENV=development
